*{
    margin: 0;
    padding: 0;
}

ol,ul{
    list-style: none;
}

.registration-part .right img{
    width: 100%;
    height: 100vh;
}

.registration-part .box{
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.registration-part .left h2{
    font-family: 'Nunito', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #11175D;
    margin-top: 70px;
}
/* .registration-part .MuiGrid-item{
    background-image: url(../public/assets/images/registration-pic.png);
    background-repeat: no-repeat;
    background-size: cover;
} */

.registration-part .left p{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #11175D;
    margin-top: 10px;
    margin-bottom: 20px;
}

.registration-part .left .MuiPaper-root{
    margin-bottom: -20px;
}

.registration-part .left .inputBox{
    width: 350px;
    margin-top: 38px;
    position: relative;
}

.registration-part .left .MuiFormHelperText-sizeMedium {
    margin: 0;
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: -23px;
    left: 3px;
}

.registration-part .left .signUpBtn{
    margin-top: 35px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 137px;
    border-radius: 86px;
    background: #5F35F5;
    /* text-transform: lowercase; */
}


/* ========================
    login-part start
==============================*/
.login-part .right img{
    width: 100%;
    height: 100vh;
}

.login-part .box{
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}

.login-part .left h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #11175D;
    margin-top: 140px;
}

.login-part .login-option{
    display: flex;
    margin-bottom: 8px;
}

.login-part .login-option .items{
    margin-right: 19px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #03014C;
    letter-spacing: 2%;
    padding: 20px 38px 20px 60px;
    border: 1px solid rgba(3, 1, 76, .098);
    margin-top: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.login-part .items{
    position: relative;
}

.login-part .login-option .items img {
    position: absolute;
    top: 18px;
    left: 26px;
}

.login-part .inputBox{
    margin-top: 30px;
    width: 370px;
    height: 78px;
    position: relative;
}

.login-part .MuiOutlinedInput-notchedOutline{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(3, 1, 76, .098);
}

.login-part .inputBox .MuiFormHelperText-root{
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.login-part .left .MuiButton-root{
    padding: 18px 113px;
    margin-top: 5px;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background: #5F34F5;
}

.registration-part .left .MuiButton-root{
    padding: 17px 146px;
    margin-top: 25px;
    text-transform: none; 

}
 
.login-part .left .LinkBox{
    margin-left: 18%;
}

.login-part .left .msg{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 5px;
}
.login-part .left .forgot{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 8%;
}
.login-part .left .forgot a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: blue !important;
    text-decoration: none;
}

.login-part .left .msg a{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #EA6C00;
    text-decoration: none;
}

.registration-part .left .msg{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 25px;
}

.registration-part .left .msg a{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #EA6C00;
    text-decoration: none;
}

.login-part .left .icon-box{
    position: relative;
    width: 370px;
}

.login-part .left .icon{
    position: absolute;
    bottom: 35px;
    right: 0;
    color: #03014c63;
    font-size: 20px;
}

/* ===============================
    Home-page Leftbar part Start 
=====================================*/

.leftbar{
    height: 100vh;
    background: #5F35F5;
    margin: 15px;
    border-radius: 20px;
    text-align: center;
}

.leftbar .profileImgBox {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    padding-top: 38px;
    position: relative;
    margin-bottom: 5px;
}

.leftbar .profile-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}

.img-preview {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
    overflow: hidden;
    margin-top: 38px;
}



.leftbar .profileImgBox .overly{
    width: 80px;
    height: 80px;
    border-radius: 50px; 
    background: rgba(3, 3, 3, 0.264);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 38px;
    color: #fff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;
}

.leftbar .profileImgBox:hover .overly{
    opacity: 1;
}

.leftbar .icons li{
    margin-top: 55px;
}

.leftbar .icons .icon{
    font-size: 32px;
    color: #BAD1FF;  
}

.leftbar .icons .active{
    background: #fff;
    width: 130px;
    padding: 16px 16px;
    margin-left: auto;
    margin-top: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.leftbar .icons .active .icon{
    color: #5F34F5;
    margin-left: -17px;
}

.leftbar .icons li::after{
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 100%;
    background: #5F34F5;
    content: "";
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.leftbar h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

 .modalBox{
    width: 500px;
    height: 400px;
    background: #fff;
    padding: 50px;
}

.modalBox .profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 25%;
}
 .modalBox2{
    width: 500px;
    height: 400px;
    background: #fff;
    padding: 50px;
    display: flex;
    /* justify-content: center; */
}

.modalBox2 .profile-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 25%;
}

.modalBox .info li{
    margin-bottom: 15px;
    border-bottom: 1px solid #5436c1;
    font-size: 18px;
}

.modalBox .info li span{
    font-weight: bolder;
    color: #5F34F5;
}

.searchBox{
    margin-top: 15px;
    position: relative;
}

.searchBox input{
    width: 100%;
    box-sizing: border-box;
    padding: 16px 78px;
    border: 0;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
}

.searchBox input{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #3D3D3D;
}

.searchBox .searchIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 23px;
    font-size: 18px;
    color:#372579;
}
.searchBox .menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 23px;
    font-size: 18px;
    color:#5F35F5;
}

.gruph-List{
    width: 100%;
    box-sizing: border-box;
    padding: 16px 12px;
    border: 0;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
    margin-top: 22px;
    height: 300px;
    overflow-y: scroll;
    position: relative;
}

.friendList {
    width: 100%;
    box-sizing: border-box;
    padding: 16px 12px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
    margin-top: 22px;
    height: 222px;
    overflow-y: scroll;
    position: relative;
}
.friends {
    width: 100%;
    box-sizing: border-box;
    padding: 16px 12px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
    margin-top: 22px;
    height: 372px;
    overflow-y: scroll;
    position: relative;
}
.userList {
    width: 100%;
    box-sizing: border-box;
    padding: 16px 12px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
    margin-top: 22px;
    height: 372px;
    overflow-y: scroll;
    position: relative;
}

.gruph-List .name{
    margin-left: -50px;
}

.friends .name{
    margin-left: -13px;
}
.userList .name{
    margin-left: -13px;
}

.userList .userBtn button{
    width: 30px;
    height: 30px;
    background: #5F35F5;
    border: 0;
    border-radius: 5px;
    color: #fff;
}

.gruph-List .createbtn {
    position: absolute;
    top: 19px;
    right: 12px;
    font-size: 18px;
    color: #5F35F5;
}
.gruph-List .createbtn button {
    padding: 3px 10px;
    background: #5F35F5;
    border: 0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.gruph-List h2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 14px;
}
.gruph-List h3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}
.gruph-List p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #4D4D4D;
}

.gruph-List .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    padding-bottom: 13px;
    margin-top: 14px; 
}

.gruph-List .box:last-child{
    border-bottom: 0;
}

.gruph-List .image img {
    width: 70px;
    height: 70px;
    margin-right: 11px;
    border-radius: 50%;
}

.gruph-List .btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gruph-List .name{
    justify-content: center;
    align-items: center;
}

.gruph-List .btn button {
    padding: 3px 10px;
    background: #5F35F5;
    border: 0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.MoodChange{
    background: #000000;
    color: #fff !important;
}
.MoodChange .name h3{
    color: #fff !important;
}
.MoodChange .name p{
    color: rgb(189, 185, 185) !important;
}

.MoodChange .gruph-List{
    box-shadow: 0px 2px 11px 0px rgba(248, 245, 245, 0.35);
}
.MoodChange .gruph-List h2{
    color: #fff ;
}
.MoodChange .gruph-List .btn p{
    color: rgb(189, 185, 185);
}
.MoodChange .gruph-List .box{
    border-bottom: .5px solid rgb(189, 185, 185);
}

.MoodChange .gruph-List .box:last-child {
    border-bottom: 0;
}

.on,.off{
    font-size: 38px;
}

.darkMode{
    position: absolute;
    top: 14px;
    left: 22px;
}
.darkMode .text {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    width: 200px;
    position: absolute;
    top: 6px;
    left: 41px;
}

.modalBox2 button{
    width: 100%;
    height: 30px;
    background: #5F35F5;
    border: 0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
}

.myGroup{
    height: 222px;
}
.myGroup .box .name{
    margin-left:0;
}
.myGroup .box .btns .btn{
   
    margin-top: 8px;
}
.blockedUsers .box .btns .btn{
   
    margin-top: 8px;
}

 .grophModalBox{
  width: 400px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px;
}

.grophModalBox h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.grophModalBox .textFiled {
    width: 100%;
    height: 40px;
    position: relative;
    margin: 20px 0px;
}

.grophModalBox .MuiFormHelperText-sizeMedium {
    position: absolute;
    bottom: -37px;
    left: -12px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: red;
}

.grophModalBox .createModalBtn button{
    width: 100%;
    height: 40px;
    background: #5F35F5;
    border: 0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
}

.grophModalBox .GruphPicUpload{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.grophModalBox .GruphPicUpload .box{
 margin-left: 50%;  
 transform: translate(-40%);
 margin-top: 20px;
 margin-bottom: 5px;
}

.grophModalBox .GruphPicUpload img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.grophModalBox .GruphPicUpload .img-preview{
    width: 90px !important;
    height: 90px !important;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
    overflow: hidden;
}

.grophModalBox .imgCropperBox{
    display: flex;
    position: relative;
}

.grophModalBox .imgCropperBox button {
    padding: 7px 34px;
    background: #5F35F5;
    border: 0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: flex;
    position: absolute;
    right: -2px;
    bottom: 0;
}

.friends .buttonBox{
    display: flex;
    flex-direction: column
}

.gruph-List .topBox{
    display: flex;
    justify-content: space-between;
}

/* =====================
resetPassword part Start
========================== */
.resetPassword{
    background: #5F35F5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.resetPassword .resetBox h1{
    font-family: 'Nunito', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.resetPassword .resetBox .box{
    padding: 40px;
    background: #fff;
    border-radius: 8px;
}
.resetPassword .resetBox .box h2{
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #5F35F5;
}
.resetPassword .resetBox .box p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #3d3d3de5;
    margin: 20px 0;
}

.resetPassword .resetBox .box .inputBox{
    width: 100%;
    margin-top: 20px;
}
.resetPassword .resetBox .box button{
    width: 100%;
    height: 40px;
    margin: 15px 0;
}

.gruphPageFriends{
    height: 230px;
}
/* =====================
resetPassword part End
========================== */
.MessageChat{
    width: 100%;
    box-sizing: border-box;
    padding: 16px 12px;
    border: 0;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,0.35);
    margin-top: 22px;
    height: 300px;
    /* overflow-y: scroll; */
    position: relative;
}

.messageAreaBox{
    height: 65vh;
    overflow-y: scroll hidden;
    overflow-x: hidden;
    padding: 15px;
    border-bottom: 1.8px solid #8f8e8ecf;
}

.MessageChat{
    height: 100vh !important;
    padding: 20px 25px 20px 35px !important;
}

.MessageChat .image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #BAD1FF;
    position: relative;
    filter: drop-shadow(2px 1px 4px rgba(90, 88, 88, 0.557));
}
.MessageChat .image img{
   width: 100%;
   border-radius: 50%;
}

.MessageChat .image .round{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #00FF75;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid #eaeef6;
}

.MessageChat .topAreaBox .nameBox h2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.MessageChat .topAreaBox .nameBox p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4D4D4D;
}
.MessageChat .topAreaBox .nameBox{
        margin-left: 18px;
        margin-top: 10px;
}

.MessageChat .topAreaBox .profileBox{
    display: flex;
}

.MessageChat .topAreaBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.8px solid #8f8e8ecf;
    padding-bottom: 20px;
}

.MessageChat .topAreaBox .menuIcon{
    font-size: 22px;
}

.MessageChat .messageAreaBox .msg{
    position: relative;
}

.MessageChat .messageAreaBox .msg p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    padding: 11px 40px;
    border-radius: 5px;
    margin-top: 50px;
}

.MessageChat .messageAreaBox .msg .sendShape::after{
    display: inline-block;
    width: 40px;
    height: 30px;
    background: #F1F1F1;
    clip-path: polygon(33% 61%, 0% 100%, 65% 100%);
    content: "";
    position: absolute;
    bottom: 0;
    left: -12px;
}
.MessageChat .messageAreaBox .msg .receiveShape::after{
    display: inline-block;
    width: 40px;
    height: 30px;
    background: #5F35F5;
    clip-path: polygon(33% 61%, 0% 100%, 65% 100%);
    content: "";
    position: absolute;
    bottom: 0;
    right: -25px;
}

.MessageChat .messageAreaBox .msg h6{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #a1a0a0b6;
    position: absolute;
    bottom: -20px;
}

/* .MessageChat .messageAreaBox .msg .photos{
    position: relative;
} */

.MessageChat .messageAreaBox .msg .imgDate{
    position: absolute;
    bottom: 10px;
    right: 0;
}

.MessageChat .messageAreaBox .msg img{
    width: 150px;
    height: 220px;
    padding: 6px;
    margin-bottom: 30px;
    margin-top: 45px;
}

.MessageChat .writeAreaBox .textField {
    margin-top: 17px;
    width: 80%;
    background: #F1F1F1;
    border: 0;
    border-radius: 10px;
    padding: 12px 52px 12px 12px;
}
.MessageChat .writeAreaBox .textField::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 70%;
}

.MessageChat .writeAreaBox .inputBox{
    position: relative;
}

.MessageChat .writeAreaBox .inputBox .cameraIcon {
    font-size: 20px;
    position: absolute;
    top: 25px;
    right: 75px;
}

.MessageChat .writeAreaBox .sendIcon {
    font-size: 16px;
    background: #5F34F5;
    color: #fff;
    padding: 10px 12px;
    border-radius: 10px;
    position: absolute;
    top: 18px;
    right: 0px;
}